<!doctype html>
{% load static %}
<html lang="en">
<head>
	<title>Paymenger - Gestor Financeiro</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap' %}" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.' %}">

	<link rel="stylesheet" href="{% static 'login/css/style.css' %}">

</head>
<body class="img js-fullheight" style="background-image: url(../static/login/images/bg.jpg);">
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h1 class="heading-section">Paymenger</h1>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">
					{% if msg %}
						<div class="col">
							<div class="alert alert-{{notification}}">
								<b>{{msg}}</b>
							</div>
						</div>
					{% endif %}
					<form class="signin-form" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<input type="text" class="form-control" name="email" placeholder="email" required>
						</div>
						<div class="form-group">
							<input id="password-field" type="password" name="senha" class="form-control" placeholder="senha" required>
							<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
						</div>
						<div class="form-group">
							<button type="submit" class="form-control btn btn-secundary submit px-3"><b>LOGIN</b></button>
						</div>
						<div class="form-group d-md-flex">
							<div class="w-50">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="{% static 'login/js/jquery.min.js' %}"></script>
<script src="{% static 'login/js/popper.js' %}"></script>
<script src="{% static 'login/js/bootstrap.min.js' %}"></script>
<script src="{% static 'login/js/main.js' %}"></script>

</body>
</html>

